@model RadaCode.Entities.ViewModels.IdeasViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
@using (Html.BeginForm("","Ideas"))
{
  
}
<ul class="">
    @foreach (var userIdea in Model.UserIdeas)
    {

        <li class="list-group-item">
            <div class="Idea">
                @userIdea.Idea

            </div>
            <div class="Author">
                <span class="label label-warning">@userIdea.User.UserName</span>
                @if (Model.ShowActions)
                {
                    var model = Model.Votes.FirstOrDefault(a => a.UserIdeaId == userIdea.Id);
                    <button  class="btn 
                             @(model != null && model.IsLike == false ? "btn-info" : "btn-default")
                             btn-sm pull-right js-vote"
                            data-idea-id="@userIdea.Id"
                            data-idea-isLike="@false"
                           >
                        UnLike
                    </button>

                    <button
                        class="btn 
                         @(model != null && model.IsLike ? "btn-info" : "btn-default")
                        btn-sm pull-right js-vote"
                        data-idea-id="@userIdea.Id"
                        data-idea-isLike="@true"
                        >
                        Like
                    </button>

                  
                
                    @*<input type="button" class="btn btn-info" value="Like" 
                onclick="location.href='@Url.Action("Votes", "Ideas", new {IdeaId = userIdea.Id, IsLike = true })'" />
                    <input type="button" class="btn btn-info" value="UnLike" onclick="location.href='@Url.Action("Votes", "Ideas", new {IdeaId = userIdea, IsLike = false })'" />*@
                }
            </div>
            
            
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-vote").click(function (e) {
                var button = $(e.target);
                $.post("/api/Votes",
                        {
                            IdeaId: button.attr("data-idea-id"),
                            IsLike: button.attr("data-idea-isLike")
                        })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info") ;
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });

        });
    </script>
}


